*{box-sizing: border-box;padding: 0;margin: 0;}

main {
    width: 100%;
    padding: 5vw;
    display: flex;
}
.btn {
    padding: 1px 2px;
    margin: 5px;
    min-width: 50px;
    font-size: 14px;
    text-align: center;
    border: #000 solid 1px;
    background-color: #fff;
}
.list {
    padding: 10px 20px 5px;
    list-style: none;
}
.categories {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
    list-style: none;
}
.categories__categorie {
    width: 8rem;
    margin: 10px 0;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #fff;
}
.categories__categorie:hover {
    background-color: #eee;
}
.categorie { 
    padding: 2vh 0 2vh 5vw;
}
.categorie__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}
.categorie__list .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2.1ch;
    font-family:sans-serif;
    font-weight: bold;
}
.categorie__list .item-inputNumber {
    width: 50px;
    height: 20px;
}
.categorie__list .item-send {
    padding: 1px 2px;
    width: 65px;
    font-size: 14px;
    text-align: center;
    border: #000 solid 1px;
    background-color: #fff;
}
.categorie__list .item-send:hover {
    background-color: #eee;
}